*{
    margin:0px;
    padding:0px;
}

h1{
    text-align: center;
}


.interface{
    display: flex;
    flex-direction: column;
    
}


.container{
 display: flex;
 gap: 20px;
 margin-top: 20px;
}

.form{
width: 50%;
}


.preview{
    width: 50%;
}